body {
  background-image: url("../src/images/background.jpg");
  background-attachment: fixed;
}
h1 {
  text-shadow: 2px 2px 5px red;
}
h2 {
  text-shadow: 2px 2px 5px blue;
}
.container {
  text-align: center;
  margin: 125px;
}
input.form-control,
select {
  border: 1px solid black;
  border-radius: 20px;
}
button {
  border-radius: 50px;
}

button.add {
  background-color: orangered;
}
button:hover {
  opacity: 0.7;
}
button.complete {
  background-color: skyblue;
}

button.trash {
  background-color: red;
}

.completed {
  text-decoration: line-through;
  opacity: 0.8;
}
li.todo-item {
  text-transform: uppercase;
  margin: 10px 20px;
  padding: 10px;
}

ul {
  list-style-type: none;
  color: orangered;
  font-size: x-large;
}
button,
input,
select {
  margin: 10px 20px;
  padding: 10px;
}
